### Entendendo a base de dados
* total_bill: o valor total da conta (incluindo a gorjeta).

* sex: o gênero do pagador da conta (masculino ou feminino).
* smoker: se o pagador da conta é fumante ou não.
* day: o dia da semana em que a conta foi paga (quinta-feira, sexta-feira, sábado ou domingo).
* time: se a refeição foi durante o almoço ou o jantar.
* size: o número de pessoas na mesa.
* tip: o valor da gorjeta, em dólares.

O objetivo deste conjunto de dados é explorar a relação entre o valor da gorjeta e as outras características da conta, como o valor total da conta, o gênero do pagador, se o pagador é fumante ou não, o dia da semana e a hora da refeição. Isso pode ser útil para entender como esses fatores influenciam a quantidade de gorjeta deixada pelos clientes do restaurante. 

Uma coisa interessante é que podemos utilizar esta base de dados tanto para um modelo supervisionado para tentar prever qualquer coluna com base nas demais colunas e, também podemos utilizar esta base de dados para treinamento de modelos não supervisionados sem precisar remover colunas na base de dados.

# 1 - Leia a base de dados gorjetas.csv

In [2]:
import pandas as pd

In [34]:
df = pd.read_csv('gorjetas.csv')

# 2 - Faça uma análise exploratória da base da dados

exibir as colunas, informações estatísticas, tipo de dados das colunas, valores nulos...

In [4]:
#Exibindo começo do dataframe
df.head()

   total_bill     sex smoker  day    time  size   tip
0       16.99  Female     No  Sun  Dinner   NaN  1.01
1       10.34    Male     No  Sun  Dinner   3.0  1.66
2       21.01    Male     No  Sun  Dinner   3.0  3.50
3       23.68    Male     No  Sun  Dinner   2.0  3.31
4       24.59  Female     No  Sun  Dinner   4.0  3.61

In [6]:
# Avaliando os tipos de dados de cada coluna
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   sex         244 non-null    object
 2   smoker      240 non-null    object
 3   day         244 non-null    object
 4   time        244 non-null    object
 5   size        238 non-null    float64
 6   tip         244 non-null    float64
dtypes: float64(3), object(4)
memory usage: 13.5+ KB

In [9]:
# Analisando os valores numéricos de cada coluna
df.describe()

       total_bill        size         tip
count  244.000000  238.000000  244.000000
mean    19.785943    2.584034    2.998279
std      8.902412    0.958681    1.383638
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.000000    2.900000
75%     24.127500    3.000000    3.562500
max     50.810000    6.000000   10.000000

In [7]:
# Analisando os valores não-numéricos de cada coluna
df.describe(include = ['O'])

         sex smoker  day    time
count    244    240  244     244
unique     2      2    4       2
top     Male     No  Sat  Dinner
freq     157    147   87     176

# 3 - Trate os Valores Nulos

Substitua os valores nulos pela média, mediana ou moda (ou se achar conveniente, apague as colunas/linhas com valores nulos)

In [39]:
# Calculando a quantidade de valores nulos por coluna
df.isna().sum()

total_bill    0
sex           0
smoker        4
day           0
time          0
size          0
tip           0
dtype: int64

In [33]:
# Analisando porcentagem de valores nulos por coluna
df.isna().sum() * 100 / len(df)

total_bill    0.000000
sex           0.000000
smoker        1.639344
day           0.000000
time          0.000000
size          0.000000
tip           0.000000
dtype: float64

In [36]:
# Substituindo valores nulos pela média de suas respectivas colunas
df['size'].fillna(value = df['size'].mean(), inplace = True)

In [40]:
#
df['smoker'].fillna(value = df['smoker'].mode(), inplace = True)

In [37]:
df['smoker'].mode()

0    No
Name: smoker, dtype: object

# 4 - Separe os dados em X e y

# 5 - Normalize os dados de X e y

# 6 - Separe X e y em treinamento e teste com 20% para teste.

# 7 - Defina e treine um algoritmo capaz de prever qual o valor da gorjeta
Pode qualquer algoritmo que souber

# 8 - Crie um gráfico comparando os valores reais e preditos de teste.

# 9 - Utilize os valores de todas as colunas para aplicar em um algoritmo de clusterização (algoritmo não supervisionado)

# 10 - Faça ao menos 3 análises dos clusters encontrados.